/* Root and Theme Styles */
:root {
  /* Typography */
  line-height: 1.5;
  font-weight: 400;

  /* Color Scheme for Supporting Light/Dark Modes */
  color-scheme: light dark;

  /* Base Colors */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* Layout Base */
body {
  margin: 0;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: "Merienda", cursive;
  font-size: 5rem;
}

#timer {
  font-size: 3rem;
  font-family: "Merienda", cursive;
  margin-bottom: 3rem;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 45vw;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Form Styles */
form {
  width: 100%;
}

/* Input Field Styles */
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

/* Button Styles */
#clear-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* Custom Checkbox Styles */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Custom size */
  width: 18px;
  height: 18px;
  margin-bottom: 3px;

  /* Style */
  background-color: #242424; /* Checkbox default background */
  border: 2px solid #fff; /* Border color */
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

/* Custom Checkmark Style when checked */
input[type="checkbox"]:checked {
  background-color: #fff; /* Checkbox background when checked */
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: black;
}

input[type="checkbox"]:checked::after {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; /* Checkmark size */
}

/* Button Interaction States */
#clear-button:hover,
#clear-button:focus {
  background-color: #ffffff;
  outline: none;
}

/* Todo List Styles */
#todos-container {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* Todo Card Styles */
.todo-card {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 18px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.5);
}

.todo-card label {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* CSS to style the label text when a todo item is completed */
.todo-card label.completed {
  text-decoration: line-through;
  opacity: 0.75;
}
